
/****************************************************/
/*                                                 */
/*   Icon CSS (_icon.css)                         */
/*                                               */
/************************************************/
/*

  Style options for icons

  *************
  * Contents: *
  *************

  # Icon
  # Inline
  # On Hover


*/

/**************************************/
/*   # Icon                          */
/************************************/

.icon {

  /**************************************/
  /*   # Inline                        */
  /************************************/

  &--inline {
    /*position*/
    position: relative;
    top: 2px;
    /*display*/
    display: inline-block;
    /*structure*/
    height: calc(1rem - 3px);
    /*spacing*/
    padding-left: 5px;
    padding-right: 5px;
  }


/**************************************/
/*   # On Hover                      */
/************************************/

  .has-no-touch &--scale-on-hover {
    transform: scale(.9);
    transition-property: transform;
    transition-duration: 200ms;
    transition-timing-function: linear;

    &:focus,
    &:hover {
      transform: scale(1);
    }

  }

}
