
/****************************************************/
/*                                                 */
/*   Main Navication CSS (_main-nav.css)          */
/*                                               */
/************************************************/
/*

  Style for the main navigation menu/links.


  *************
  * Contents: *
  *************

  # Main Navigation
  # Link Group
  # Link
    > Before
    > At Small
    > Active Link
  # For Tiny Device
    > Main Nav
    > Link Group
    > Link Group List Items
    > Link
    > Active Link

*/

/**************************************/
/*   # Variables                     */
/************************************/

$mn_activeLinkBulletSize: 12px;


/**************************************/
/*   # Main Navigation               */
/************************************/

.main-nav {

  /*position*/
  position: relative;
  /*structure*/
  height: auto;
  width: auto;
  /*spacing*/
  padding-top: 3rem;
  /*typography*/
  text-align: center;

  /******************
  *  > Link Group   *
  ******************/

  &__link-group {
    /*position*/
    position: relative;
    /*structure*/
    height: auto;
    /*spacing*/
    margin-top: 0;
    margin-block-start: 0;

  }

  /*****************************
  *  > Link Group List Items   *
  *****************************/

  &__link-group>li {
    /*display*/
    display: block;
    /*spacing*/
    margin-bottom: 3rem;

    @mixin forLandscape {
      margin-bottom: 2rem;
    }
  }


  /************
  *  > Link   *
  ************/

  &__link {

    /*position*/
    position: relative;
    /*position*/
    z-index: 1;
    /*typography*/
    font-size: 1.2rem;
    text-decoration: none;
    /*spacing*/
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 25px;
    padding-right: 25px;
    /*colors*/
    color: $color_a;

    /*for mouse devices at tiny sizes*/
    .has-no-touch &:hover {
      color: rgb($color_darkBlue);
      font-weight: 900;
    }


    /*******************
    *  > Active Link   *
    *******************/

    /*mixin*/
    &.active {

      /*typography*/
      font-weight: 700;

    }

  }

}

@mixin atSmall {
  .main-nav {
    padding-top: 0;
    padding-bottom: 0;
    /**************************************/
    /*   # Link Group                    */
    /************************************/

    &__link-group {
      /*spacing*/
      margin-top: 1.3rem;
      margin-bottom: 1.1rem;
    }

    &__link-group > li {
      display: inline-block;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-bottom: auto;


      @mixin atSmall {
        &:last-child {
          margin-right: 0;
        }
      }
    }


    /**************************************/
    /*   # Link                          */
    /************************************/

    &__link {

      /*spacing*/
      padding: 0;
      /*typography*/
      font-weight: 300;
      font-size: 1rem;


      /**************
      *  > Before   *
      **************/

      &::before {
        content: "";
        /*display*/
        display: none;
        box-sizing: content-box;
        /*position*/
        position: absolute;
        left: calc(50% - 6px);
        top: auto;
        bottom: -26px;
        /*structure*/
        height: $mn_activeLinkBulletSize;
        width: $mn_activeLinkBulletSize;
        /*borders*/
        border-radius: 50%;
        /*colors*/
        background-color: $color_a;

      }

      &::after {
        display: none;
      }

      &:focus,
      .has-no-touch &:hover {
        /*mixin*/
        @mixin shadowBold $color_darkBlue;
        /*typography*/
        font-weight: 300;
        /*color*/
        color: $color_a;

        &:not(.active)::before {
          /*display*/
          display: block;
          /*structure*/
          height: calc($mn_activeLinkBulletSize - 4px);
          width: calc($mn_activeLinkBulletSize - 4px);
          /*borders*/
          border-style: solid;
          border-width: 2px;
          /*colors*/
          border-color: $color_a;
          background-color: rgb($color_white);
        }
      }

      /*******************
      *  > Active Link   *
      *******************/

      &.active {
        /*mixin*/
        @mixin shadowBold $color_darkBlue;
        /*typography*/
        font-weight: 300;

        &::after {
          display: none;
        }

        &::before {
          content: "";
          /*display*/
          display: block;
          box-sizing: content-box;
          /*position*/
          position: absolute;
          left: calc(50% - 6px);
          top: auto;
          /*structure*/
          height: $mn_activeLinkBulletSize;
          width: $mn_activeLinkBulletSize;
          /*borders*/
          border-radius: 50%;
          /*colors*/
          background-color: $color_a;
        }
      }

    }

  }
}
