
/****************************************************/
/*                                                 */
/*   Paragraph CSS (_paragraph.css)               */
/*                                               */
/************************************************/
/*

  Style options for paragraphs

  *************
  * Contents: *
  *************

  # Paragraph
  # Sizes
    > Smaller

*/

/**************************************/
/*   # Paragraph                     */
/************************************/

.paragraph {

  /**************************************/
  /*   # Sizes                         */
  /************************************/

  /*****************
  *   > Smaller   *
  *****************/

  &--smaller {
    font-size: .9rem;
  }

  /***************
  *   > Larger   *
  ***************/

  &--larger {
    font-size: 1.2rem;
  }

  /**************************************/
  /*   # Spacing                       */
  /************************************/

  &--no-top-space {
    margin-top: 0;
    padding-top: 0;
  }
}
