
/****************************************************/
/*                                                 */
/*   Paragraph CSS (_paragraph.css)               */
/*                                               */
/************************************************/
/*

  Style options for paragraphs

  *************
  * Contents: *
  *************

  # Paragraph
  # Sizes
    > Smaller
    > Larger
  # Styles
    > Bold
  # Spacing

*/

/**************************************/
/*   # Paragraph                     */
/************************************/

.paragraph {

  /**************************************/
  /*   # Sizes                         */
  /************************************/

  /*****************
  *   > Smaller   *
  *****************/

  &--smaller {
    font-size: .9rem;
  }

  /***************
  *   > Larger   *
  ***************/

  &--larger {
    font-size: 1.2rem;
  }

  /**************************************/
  /*   # Styles                        */
  /************************************/

  /*************
  *   > Bold   *
  *************/

  &--bold {
    font-weight: 700;
  }

  /**************************************/
  /*   # Spacing                       */
  /************************************/

  &--no-top-space {
    margin-top: 0;
    padding-top: 0;
  }

  &--no-vert-space {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;


  }
}
